
{% extends 'partials/base.html' %}
{% comment %} 
This is the main template. It is the list of the books
After 4 books in a page the book is paginated to another page {% endcomment %}
{% block content %}
<br>
<div class='col-md-12'>
    <div class='category'>
        <h1>{{genere}}</h1>
        <hr>
        <div class='container'>
        {% for books in category_list %}
            <div class="box">
        <a href="{{books.get_absolute_url}}">    
            <img src= "{{books.image.url}}"   style="width: 150px;height:250px;border-radius:5px;" alt="Cinque Terre"> 
                <h6>{{books.name|title}}</h6>    
        </a> 
            </div>
    {% endfor %} 
        </div>
    </div>
</div>  
              

{% endblock content %}
