
{% extends 'partials/base.html' %}
{% block content %}

    
    <br><br>
    <h2 class="uppercase">{{books.name}}</h2>
    <br>
    <h3 class="capitalize">BY: {{books.author.first_name|title}} {{books.author.last_name|title}}</h3>
    <a href="{{books.book_pdf.url}}"  target="_blank">
    <img src="{{books.image.url}}" class="center" align='left'>
    </a>
    &nbsp;
    <p style="margin-left: 300px;">
    <div class="text">
        {{books.about|linebreaksbr}}
    </div>
    </p>
    <div class='button'>
        <div class="language">
           <h3> Language:</h3>
        </div>    
           {% for tag in books.language.all %}
           <div class="small_language">
           {{tag.name}} &nbsp;
           {% if not forloop.last %}
           {% endif %}
        </div>
           {% endfor %}
        
        <br><br>
    {% if request.user.is_authenticated and request.user == books.author %}
              <a href="{{ news.get_absolute_url }}update/"> <button class="btn btn-primary">Update</button> </a> &nbsp;
              {% include "partials/delete_modal.html" %}
              {% endif %}
    </div>
    <br>
{% endblock content %}