*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.co{ 
    width: 96%;
    margin: 20px auto;
    font-family: 'Trebuchet MS',Helvetica, sans-serif;
    
}
h1{
    font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    border-left: 5px solid #1abc9c;
    margin: 10px;
}

.book{
    width: 40%;
    float: left;
    background: #fff;
    margin: 5px;
    padding: 10px;
}

.icon img{
    width: 100px;
    height: 100px;
    float: right;
    line-height: 120px;
    border-radius: 8px;

}
.center{
    border-radius: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 500px;
    box-shadow: 10px 10px 5px grey;

} 

h2.uppercase {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
  }

h3.capitalize {
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
  }

.text{
    text-transform: capitalize;
    margin-right: 150px;
    margin-left: 150px;
    word-wrap: break-word;
  }

.button{
    text-align: center;
  }

.info {
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;

}

.pagination{
    margin-top: 500px;
    margin-left:600px;
}  

.form_login {
    margin-left: 300px;

}
